In [1]:
import pandas as pd
import numpy as np

In [2]:
df_complaints=pd.read_csv('NYPD_Complaint_Data_Historic.csv',sep=';',error_bad_lines=False)
df_complaints.head()

C:\Users\erika\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\erika\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,840151107,07/01/2012,00:01:00,12/31/2013,23:59:00,113.0,10/03/2019,104,RAPE,155.0,...,M,NaN,40.679700,-73.776047,"(40.67970040800003, -73.77604736799998)",PATROL BORO QUEENS SOUTH,NaN,18-24,BLACK,F
1,957252233,07/01/2012,12:00:00,NaN,NaN,72.0,07/01/2019,104,RAPE,157.0,...,M,NaN,40.658193,-74.001032,"(40.65819343200008, -74.00103224299994)",PATROL BORO BKLYN SOUTH,NaN,18-24,WHITE HISPANIC,F
2,423809109,07/01/2012,15:00:00,08/31/2012,19:00:00,76.0,05/02/2019,116,SEX CRIMES,177.0,...,M,NaN,40.683879,-74.000326,"(40.68387905700007, -74.00032594799995)",PATROL BORO BKLYN SOUTH,NaN,<18,WHITE HISPANIC,F
3,438106385,07/01/2012,12:00:00,09/01/2013,23:00:00,13.0,04/01/2019,233,SEX CRIMES,175.0,...,M,NaN,40.736698,-73.983316,"(40.736698070000045, -73.98331602599995)",PATROL BORO MAN SOUTH,NaN,<18,WHITE HISPANIC,F
4,305507710,07/01/2012,00:01:00,NaN,NaN,108.0,01/12/2019,116,SEX CRIMES,168.0,...,U,NaN,40.743080,-73.954736,"(40.74308016800006, -73.95473646099998)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,F

In [3]:
df_complaints.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD',
       'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
       'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE',
       'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD',
       'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT',
       'Latitude', 'Longitude', 'Lat_Lon', 'PATROL_BORO', 'STATION_NAME',
       'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX'],
      dtype='object')

In [9]:
df_complaints['X_COORD_CD'] #will not use these so no need to store them!

0         1,046,367
1           983,964
2           984,160
3           988,874
4           996,793
            ...
489963    1,008,675
489964    1,057,174
489965    1,025,584
489966    1,020,525
489967    1,025,864
Name: X_COORD_CD, Length: 489968, dtype: object

In [12]:
df_complaints.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,840151107,07/01/2012,00:01:00,12/31/2013,23:59:00,113.0,10/03/2019,104,RAPE,155.0,...,M,NaN,40.679700,-73.776047,"(40.67970040800003, -73.77604736799998)",PATROL BORO QUEENS SOUTH,NaN,18-24,BLACK,F
1,957252233,07/01/2012,12:00:00,NaN,NaN,72.0,07/01/2019,104,RAPE,157.0,...,M,NaN,40.658193,-74.001032,"(40.65819343200008, -74.00103224299994)",PATROL BORO BKLYN SOUTH,NaN,18-24,WHITE HISPANIC,F
2,423809109,07/01/2012,15:00:00,08/31/2012,19:00:00,76.0,05/02/2019,116,SEX CRIMES,177.0,...,M,NaN,40.683879,-74.000326,"(40.68387905700007, -74.00032594799995)",PATROL BORO BKLYN SOUTH,NaN,<18,WHITE HISPANIC,F
3,438106385,07/01/2012,12:00:00,09/01/2013,23:00:00,13.0,04/01/2019,233,SEX CRIMES,175.0,...,M,NaN,40.736698,-73.983316,"(40.736698070000045, -73.98331602599995)",PATROL BORO MAN SOUTH,NaN,<18,WHITE HISPANIC,F
4,305507710,07/01/2012,00:01:00,NaN,NaN,108.0,01/12/2019,116,SEX CRIMES,168.0,...,U,NaN,40.743080,-73.954736,"(40.74308016800006, -73.95473646099998)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,F

suggested removement of several columns/only keeping some of them

In [4]:
listofC=['CMPLNT_FR_DT','CMPLNT_TO_DT','CRM_ATPT_CPTD_CD','KY_CD','LAW_CAT_CD','OFNS_DESC','PD_CD','PD_DESC','X_COORD_CD','Y_COORD_CD']

In [5]:
df=df_complaints[listofC]

In [50]:
df.head()

,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,PD_CD,PD_DESC,Latitude,Longitude
0,07/01/2012,12/31/2013,COMPLETED,104,FELONY,RAPE,155.0,RAPE 2,40.679700,-73.776047
1,07/01/2012,NaN,COMPLETED,104,FELONY,RAPE,157.0,RAPE 1,40.658193,-74.001032
2,07/01/2012,08/31/2012,COMPLETED,116,FELONY,SEX CRIMES,177.0,SEXUAL ABUSE,40.683879,-74.000326
3,07/01/2012,09/01/2013,COMPLETED,233,MISDEMEANOR,SEX CRIMES,175.0,"SEXUAL ABUSE 3,2",40.736698,-73.983316
4,07/01/2012,NaN,COMPLETED,116,FELONY,SEX CRIMES,168.0,SODOMY 1,40.743080,-73.954736

Now, if the CMPLNT_TO_DT is not NaN, its a suggestion that the complaint strethced for more than one day so should create more event (identical) for all of those days?
No?? - its the ending date of occurence for the reported event, if exact time of occurence is unknown. need to discuss this with Ernest honestly

## Next step, assign to regions!

In [6]:
df.to_csv('NYPDcomplaintData.csv')